/* General Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif ;
}

body {
  font-size: 18;
  color: #33475b;
}

/* Utilities */
.container {
  width: 75%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.w-50 {
  width: 50%;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  line-height: 30px;
  text-decoration: none;
}

.btn-white {
  padding: 5px 30px;
}

.btn-orange {
  background: #ff7a59;
  border: 0;
  color: white;
}

.btn-default {
  padding: 5px;
}

.btn-large {
  padding: 20px;
  font-size: 20px;
}

#spacer-btn li:nth-child(2) {
  padding-left: 20px;
  padding-right: 20px;
}

.fa-search {
  color: #00a4bd;
}

.shadow-utility {
  box-shadow: 3px 3px lightgray;
}
/* Header */
#main-header {
  height: 1000px;
}

.header-container {
  height: 90px;
}

.header-login-container {
  background: #f5f8fa;
}

.header-nav,
.header-menu {
  height: 90px;
  line-height: 90px;
}

.header-logo {
  width: 30%;
}

.header-logo img {
  margin-top: 30px;
}

.header-nav .header-nav-left,
.header-nav .header-nav-right,
.header-menu .header-logo,
.header-menu .header-menu-right {
  float: left;
}

.header-nav .header-nav-right,
.header-menu .header-menu-right {
  text-align: right;
}

.header-menu .header-menu-right {
  width: 70%;
}

.menu-inline {
  list-style: none;
}

.menu-inline li {
  display: inline-block;
  line-height: 30px;
}

.header-menu-right .menu-inline li {
  padding-right: 20px;
}

.header-menu-right .menu-inline li:nth-last-child(1) {
  padding-right: 0;
}

.header-menu-right .menu-inline li a {
  font-size: 20px;
  color: inherit;
}

.header-menu-right .menu-inline li a span {
  margin-left: 15px;
  font-size: 15px;
}

.header-nav,
.header-menu a {
  text-decoration: none;
}

#nav-left-spacing-right {
  padding-right: 22px;
  border-right: 1px solid;
}

#nav-left-spacing-left {
  padding-left: 20px;
}

#contact-sales {
  color: inherit;
  text-decoration: none;
}

/* Jumbotron */
.header-container-big {
  height: 820px;
}

.header-jumbotron-container {
  height: 100%;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-size: auto 110%;
  background-position: 90% -30%;
}

.jumbotron-wrapper {
  position: relative;
}

.jumbotron-wrapper .jumbotron {
  position: absolute;
  left: 0;
  top: 120px;
}

.jumbotron {
  width: 400px;
}

.jumbotron h1 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 20px;
}

.jumbotron p {
  margin-bottom: 20px;
  font-size: 20px;
}

.jumbotron a {
  margin-bottom: 20px;
}

.jumbotron #freetools {
  font-size: 10px;
  width: 208px;
}

.greenbar {
  background: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}

/* Prodotti */
.products-area {
  height: 1600px;
  background: #f4f9fd;
}

/* Slogan */
.slogan {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slogan h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.slogan p {
  font-size: 20px;
}

/* Free CRM */
.free-hubspot-crm {
  background: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 35px;
}

.free-hubspot-crm-sx,
.free-hubspot-crm-dx {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.free-hubspot-crm-sx {
  width: 30%;
  text-align: center;
}

.free-hubspot-crm-sx img {
  margin-bottom: 20px;
}

.free-hubspot-crm-sx a {
  font-weight: bold;
}

.free-hubspot-crm-dx {
  width: 70%;
  padding-left: 40px;
  padding-top: 25px;
}

.free-hubspot-crm-dx h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.free-hubspot-crm-dx p {
  width: 75%;
  margin-bottom: 20px;
}

.free-hubspot-crm-dx h4 {
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.free-hubspot-crm-dx h4::after {
  content: '';
  position: absolute;
  height: 5px;
  margin-left: 40px;
  border-bottom: 1px solid;
  top: 7px;
  width: 60%;
}

.free-hubspot-crm-dx span {
  padding-right: 20px;
  font-size: 14px;
}

.free-hubspot-crm-dx span i{
  color: #ff7a59;
  font-size: 20px;
  vertical-align: middle;
  padding-right: 10px;
}

/* Features */
.feature-box {
  float: left;
  width: 31%;
  text-align: center;
  background: white;
}

.feature-box-wrapper {
  padding: 30px;
}

.feature-box-wrapper img {
  margin-bottom: 20px;
}

.feature-box-wrapper p {
  padding-bottom: 60px;
  border-bottom: 1px solid;
}

.feature-box-wrapper h4 {
  padding-top: 30px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.feature-box-wrapper span {
  display: block;
  text-align: left;
  font-size: 14px;
  padding-bottom: 5px;
}

.feature-box-wrapper span i {
  color: #ff7a59;
  font-size: 20px;
  vertical-align: middle;
  padding-right: 10px;
}

.feature-box-wrapper a {
  margin-top: 20px;
}

.features .feature-box:nth-child(2) {
  margin-left: 3.5%;
  margin-right: 3.5%;
}
